{%load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>hello</h1>
        {% for a in obj %}
            <h1>{{a.name}}</h1>
            <p>{{a.detail}}</p>
            <img style="height: 200px; width: 200px;" src="{{a.image.url}}" alt="">
            <h2>{{a.price}}</h2>
        {% endfor %}

</body>
</html>
{% endblock %}